* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
}

.mainHeader {
  height:64px;
  background: #bae8e8;
  display: flex;
}

.mainHeader figure {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 24px;
}

.mainHeader nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.mainHeader nav a,
.mainHeader .user a {
  display: block;
  padding: 0 8px;
}

.mainHeader nav {
  margin-right: auto;
}

.mainHeader .user {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.mainHeader .user .current {
  display: flex;
  align-items: center;
}

.timer-visual {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-visual .time-left-container {
  --progress: 0%;
  /*background: conic-gradient(from 0deg, #000, #000 var(--progress), #fff var(--progress));*/
  width: 140px;
  height: 140px;
  border-radius: 140px;

  transition: background-image 0.2s;
  background-image: conic-gradient(from 0deg, green, green var(--progress), #ddd var(--progress));
  position: relative;
}

.timer-visual .time-left {
  --margin: 8px;
  margin: var(--margin);
  background: white;
  width: calc(100% - (var(--margin) * 2));
  height: calc(100% - (var(--margin) * 2));
  border-radius: 99990px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
